* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #f0f3f5; }

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  color: #f0f3f5; }

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 2em;
  color: #f0f3f5; }

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 2em;
  text-decoration: underline;
  -webkit-text-decoration-color: #0b7a75;
          text-decoration-color: #0b7a75; }

p {
  font-family: 'Merriweather', serif;
  font-size: 1em; }

p:first-child:first-letter {
  color: #7b2d26;
  float: left;
  font-size: 3em;
  font-weight: bold;
  padding-right: 0.5em; }

a {
  color: #7b2d26; }

.btn-mobile-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 5px; }

.line-btn-menu {
  width: 30px;
  height: 4px;
  background-color: #19535f;
  margin: 2px;
  border-radius: 2px; }

@media screen and (min-width: 480px) {
  .btn-mobile-size {
    display: none; } }
.nav-menu {
  background-color: #d7c9aa;
  position: fixed;
  width: 100%; }

.menu-full-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.li-menu-full-screen-size {
  list-style: none;
  padding: 5px; }

.link-header {
  text-decoration: none;
  color: white; }

@media screen and (max-width: 480px) {
  .menu-full-screen {
    display: none; } }
.section-top {
  width: 700px;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -250px;
  background-color: #f0f3f5;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 4s;
          animation-duration: 4s; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }
.section-highlighted {
  background-color: #d7c9aa;
  margin-top: 40px; }

.text-highlighted {
  width: 50vw;
  padding: 20px 30px;
  float: left; }

.section-center {
  width: 700px;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto; }

.highlighted-blue {
  width: 50vw;
  padding: 20px 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #0b7a75; }

footer {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #d7c9aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  width: 100%; }
  footer a {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    color: #7b2d26; }
  footer p {
    font-size: 0.813em;
    line-height: 0.9em; }
  footer div {
    padding: 1.25em; }

.adalab {
  text-align: right; }

.medialab {
  border-left: 1px solid #7b2d26; }

.title {
  padding-top: 15%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s; }

header {
  background-image: url("pueblo.jpg");
  background-color: #19535f;
  background-blend-mode: multiply;
  height: 100vh;
  max-width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }
/*# sourceMappingURL=main.css.map */