.story {
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.story-intro {
  padding-left: 100px;
  padding-right: 100px;
}


@keyframes fadeInUp {
from {
opacity: 0;
transform: translate3d(0, 100%, 0);
}
to {
  opacity: 1;
  transform: none;
}
}

.story-intro {
  background-color: #d7c9aa;
  padding-left: 100px;
  padding-right: 100px;
}

.highlighted-blue {
  width: 50vw;
  padding: 1.250em 1.875em;
  margin-top: 1.250em;
  margin-bottom: 1.250em;
  background-color: #0b7a75;
}
