.story {
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.story-intro {
  background-color: #d7c9aa;
}

.section-top {
  width: 43.750em;
  padding: 0.625em 1.250em;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f3f5;
}

<<<<<<< HEAD
=======
.main {
  // background-image: url("historia-5.jpg");
  background-color: rgb(30, 168, 181);
  background-blend-mode: multiply;
  height: 100vh;
  max-width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
}

.story-intro {
  padding-left: 100px;
  padding-right: 100px;
}


@keyframes fadeInUp {
from {
opacity: 0;
transform: translate3d(0, 100%, 0);
}
to {
  opacity: 1;
  transform: none;
}
}
>>>>>>> new structure
.section-highlighted {
  background-color: #d7c9aa;
  margin-top: 2.500em;
}

.text-highlighted {
  width: 50vw;
  padding: 1.250em 1.875em;
  float: left;
}

.section-center {
  width: 43.750em;
  padding: 0.625em 1.250em;
  margin-left: auto;
  margin-right: auto;
}
.highlighted-blue {
  width: 50vw;
  padding: 1.250em 1.875em;
  margin-top: 1.250em;
  margin-bottom: 1.250em;
  background-color: #0b7a75;
}
