.section-top {
  width: 43.750em;
  padding: 0.625em 1.250em;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f3f5;
}

.section-highlighted {
  background-color: #d7c9aa;
  margin-top: 2.500em;
}

.text-highlighted {
  width: 50vw;
  padding: 1.250em 1.875em;
  float: left;
}

.section-center {
  width: 43.750em;
  padding: 0.625em 1.250em;
  margin-left: auto;
  margin-right: auto;
}
.highlighted-blue {
  width: 50vw;
  padding: 1.250em 1.875em;
  margin-top: 1.250em;
  margin-bottom: 1.250em;
  background-color: #0b7a75;
}
