footer {
  align-items: stretch;
  background-color: #d7c9aa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625em;
  height: 100vh;
  max-width: 100vw;


  a {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    color: #7b2d26;
  }

  p {
    font-size: 0.813em;
    line-height: 0.9em;
  }
  div {
    padding: 1.25em;
  }
}

.adalab {
  text-align: right;
}

.medialab {
  border-left: 0.063em solid #7b2d26;
}
