.title {
  padding-top: 5%;
  width: 40%;
  margin-left: 5%;
  animation-name: titleFadeIn;
  animation-duration: 3s;
}

.subtitle {
  width: 40%;
  margin-left: auto;
  padding-right: 5%;
  animation-name: slideInUp;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.main {
  background-image: url("../images/historia-5.jpg");
  background-color: #19535f;
  background-blend-mode: multiply;
  height: 100vh;
  max-width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
}
