
.btn-mobile-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0.313em;
    cursor: pointer;
}

.line-btn-menu {
  width: 1.975em;
  height: 0.350em;
  background-color: #19535f;
  margin:0.175em;
  border-radius: 0.125em;
}

.hidden {
  display: none;
}


@media screen and (min-width: 480px) {
  .btn-mobile-size {
    display: none;
  }
}


.new-fp-controlArrow.fp-next {
    background-image: url("imges/flecha-derecha-en-boton-circular.png");
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    // border-color: transparent transparent transparent #fff;
}
