
.btn-mobile-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0.313em;
}

.line-btn-menu {
  width: 1.875em;
  height: 0.250em;
  background-color: #19535f;
  margin:0.125em;
  border-radius: 0.125em;
}

@media screen and (min-width: 480px) {
  .btn-mobile-size {
    display: none;
  }
}
