.nav-menu {
  background-color: #d7c9aa;
  position: fixed;
  width: 100%;
}

.menu-full-screen {
  display: flex;
  justify-content: flex-end;
}

.li-menu-full-screen-size {
  list-style: none;
  padding: 5px;
}

.link-header {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 480px) {
  .menu-full-screen {
    display: none;
  }
}
